.about {
  min-width: 320px;
  box-sizing: border-box; }

.gallery__desc {
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }
  .gallery__desc--tablet {
    display: none; }

.gallery__phone {
  font-family: "Source Serif Roman - Semibold";
  color: #1d1c1c;
  font-size: 14px; }

.gallery__photos {
  display: flex;
  flex-direction: row;
  height: 342px;
  overflow: hidden;
  justify-content: center; }

.gallery__photo--left {
  margin-right: 10px;
  margin-bottom: 35px; }

.gallery__photo--right {
  margin-top: 35px; }

.gallery__info {
  text-align: center;
  padding: 0 26px;
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }

@media screen and (min-width: 764px) {
  .about {
    margin-top: 300px;
    padding: 0 61px; }
  .gallery__photos {
    height: 600px;
    justify-content: center; }
  .gallery__photo--left {
    margin: 0;
    margin-right: 28px;
    margin-bottom: 28px; }
  .gallery__photo--right {
    margin-top: 48px;
    margin-bottom: 28px; }
  .gallery__info {
    display: none; }
  .gallery__phone {
    font-family: "Source Serif Roman - Semibold";
    font-weight: 700;
    font-size: 16px; }
  .gallery__desc {
    display: block;
    margin: 0;
    color: #1d1c1c;
    font-family: "Source Serif Roman";
    font-size: 16px;
    font-weight: 400; }
    .gallery__desc--tablet {
      display: block; }
      .gallery__desc--tablet .btn {
        margin: 0;
        margin-top: 29px; }
    .gallery__desc--left {
      margin: 0;
      width: 306px; } }

@media screen and (min-width: 1440px) {
  .about {
    position: relative;
    padding: 0 166px;
    background-image: url(/img/1440_about_bg-1.jpg);
    background-repeat: no-repeat;
    background-position: left 102px;
    margin-bottom: 240px; }
  .about__wrapper {
    margin-top: 102px;
    height: 560px;
    display: flex;
    flex-direction: row;
    background-image: url(/img/1440_about_bg2.jpg);
    background-repeat: no-repeat;
    background-position: right bottom; }
  .gallery__info {
    padding: 0;
    display: inline-block;
    text-align: left;
    flex-direction: column;
    width: 320px;
    justify-content: space-between;
    height: 350px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 75px; }
  .gallery__desc {
    color: #1d1c1c;
    font-family: "Source Serif Roman";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px; }
    .gallery__desc--email {
      margin-bottom: 0; }
    .gallery__desc--tablet {
      display: none; }
  .gallery__photo--left {
    margin-right: 30px;
    margin-bottom: 0; }
  .gallery__photo--right {
    margin-top: 50px;
    margin-bottom: 0; }
  .btn {
    margin-left: 0; } }
