.contacts {
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 15px;
    padding-top: 71px;
    .section__title {
        margin-bottom: 35px;
    }
}

.contacts__footer {
    padding-bottom: 85px;

    .contacts__links {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 36px;
        list-style: none;
        text-align: center;
    }

    .contacts__link {
        margin: 0 auto;
        margin-bottom: 17px;
        color: #4e4d4e;
        font-family: "Source Serif Roman - Semibold";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.36px;

        .link {
            width: 20px;
            height: 18px;
            color: #8eb574;
            font-family: "Source Serif Roman - Semibold";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1.8px;
            margin: 0 5px;
        }
    }

    .socials {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 183px;
        height: 26px;
        list-style: none;
        justify-content: center;

        .social {
            display: inline-block;
            margin-right: 26px;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }

            &__link {
                width: 26px;
                height: 26px;
                display: inline-block;

                &--fb {
                    background: url("/img/320_icon_facebook.png") no-repeat;
                }

                &--vk {
                    background: url("/img/320_icon_vk.png") no-repeat;
                }

                &--inst {
                    background: url("/img/320_icon_instagram.png") no-repeat;
                }

                &--pin {
                    background: url("/img/320_icon_pinterest.png") no-repeat;
                }
            }
        }
    }
}

@media screen and (min-width: 764px) {
    .contacts {
        background-image: url(/img/764_contacts_leaf-l.png);
        background-repeat: no-repeat;
        background-position: 35px 120px;
        .section__title {
            margin-bottom: 78px;
            &:after {
                content: "CONTACTS";
            }
        }
    }

    .contacts__footer {
        .contacts__links {
            margin-bottom: 53px;
        }
        .contacts__link {
            font-size: 16px;
            margin-bottom: 25px;
            .link {
                margin-right: 15px;
                margin-left: 25px;
            }
        }

        .socials {
            width: 216px;
            height: 34px;

            .social {
                margin-right: 20px;

                &__link {
                    width: 34px;
                    height: 34px;
                    opacity: 1;
                    &--fb {
                        background: url("/img/764_icon_facebook.png") no-repeat;
                    }

                    &--vk {
                        background: url("/img/764_icon_vk.png") no-repeat;
                    }

                    &--inst {
                        background: url("/img/764_icon_instagram.png") no-repeat;
                    }

                    &--pin {
                        background: url("/img/764_icon_pinterest.png") no-repeat;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .contacts {
        padding: 0 166px;
        position: relative;
        padding-top: 248px;
        .section__title {
            margin-top: 0;
            letter-spacing: 5px;
        margin-bottom: 103px;
        }
    }
   
    .contacts__footer {
        .contacts {
            .contacts__link {
                font-size: 18px;
                .link {
                    margin: 0 9px;
                }
            }
        &__links {
            display: flex;
            flex-direction: row;
            margin-bottom: 45px;
        }
    }
    }
   
}