@font-face  {
   src: url("/fonts/SourceSerifPro-Bold.ttf");
   font-family: "Source Serif Roman - Bold";
   font-weight: 400;
}
@font-face  {
   src: url("/fonts/SourceSerifPro-SemiBold.ttf");
   font-family: "Source Serif Roman - Semibold";
   font-weight: 400;
}
@font-face  {
   src: url("/fonts/SourceSerifPro-Regular.ttf");
   font-family: "Source Serif Roman - Regular";
      font-weight: 400;
}
@font-face  {
    font-family: "Geometria"; 
   src: url("/fonts/Source\ Serif\ Pro\ ExtraLight.otf");
   font-family: "Source Serif Roman - Light";
   font-weight: 400;
}
.container {
   margin: 0 auto;
}
@import "norm.css";
@import "main-page.scss";
@import "portfolio.scss";
@import "download-page.scss";
@import "about.scss";