@import url(norm.css);
@font-face {
  src: url("/fonts/SourceSerifPro-Bold.ttf");
  font-family: "Source Serif Roman - Bold";
  font-weight: 400; }

@font-face {
  src: url("/fonts/SourceSerifPro-SemiBold.ttf");
  font-family: "Source Serif Roman - Semibold";
  font-weight: 400; }

@font-face {
  src: url("/fonts/SourceSerifPro-Regular.ttf");
  font-family: "Source Serif Roman - Regular";
  font-weight: 400; }

@font-face {
  font-family: "Geometria";
  src: url("/fonts/Source Serif Pro ExtraLight.otf");
  font-family: "Source Serif Roman - Light";
  font-weight: 400; }

.container {
  margin: 0 auto; }

.main-page {
  min-width: 320px;
  min-height: 480px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4) url("/img/320_main_bg.jpg") left 0 top 0 no-repeat; }

.main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33px;
  box-sizing: border-box;
  align-items: center; }

.pic__main {
  display: none; }

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; }

.main-nav__item {
  display: inline-block; }

.logo-link {
  height: 33px;
  width: 112px;
  box-sizing: border-box; }

.main-header {
  display: flex;
  flex-direction: row; }

.hamburger {
  border: none;
  position: relative;
  margin-left: auto;
  padding: 0;
  margin-right: 15px;
  height: 14px;
  width: 25px;
  background-color: transparent; }
  .hamburger__line {
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    right: 0; }
    .hamburger__line--top {
      top: 0; }
    .hamburger__line--middle {
      top: 6px;
      width: 14px; }
    .hamburger__line--bottom {
      bottom: 0px;
      width: 14px; }

.nav__phone--mobile {
  display: none; }

.paginations {
  display: none; }

.hero {
  padding-top: 160px; }
  .hero__name {
    color: #fffeff;
    font-family: "Source Serif Roman - Semibold";
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 15px; }
  .hero__desc {
    color: #ffffff;
    font-family: "Source Serif Roman";
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 40px; }

.btn {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: #fff 2px solid;
  color: #fff;
  padding-bottom: 10px;
  font-weight: 600;
  margin-left: 15px; }

.socials {
  display: none; }

@media screen and (min-width: 764px) {
  .main-page {
    height: 823px;
    background: #f8f8f8 url(/img/764_main_bg.jpg) no-repeat left 456px top 0;
    position: relative; }
  .main-nav {
    height: 60px; }
  .nav__phone {
    display: flex;
    align-self: center;
    margin-right: 125px;
    width: 300px;
    text-decoration: none;
    color: #3b3b3b;
    font-family: "Source Serif Roman - Semibold";
    font-size: 18px;
    font-weight: 400; }
  .hamburger {
    margin-right: 165px; }
    .hamburger__line {
      background-color: #000;
      left: 0; }
  .hero {
    padding-left: 62px; }
    .hero__name {
      color: #212021;
      font-size: 36px;
      margin-top: 180px;
      margin-bottom: 35px; }
    .hero__desc {
      color: #212021;
      font-size: 16px;
      font-weight: 300; }
  .btn {
    color: #212021;
    border-bottom: 1px solid #212021; }
  .hero {
    padding-top: 100px;
    padding-left: 0;
    width: 644px;
    margin: 0 auto; }
    .hero:after {
      content: "";
      clear: both;
      display: table; }
  .hero__wrapper {
    width: 270px;
    margin-right: 30px;
    float: left; }
  .pic__main {
    display: block;
    float: right; }
  .socials--tablet {
    padding: 0;
    margin: 0;
    margin-top: 73px;
    margin-left: 61px;
    display: flex;
    list-style: none;
    flex-direction: row; }
    .socials--tablet .social {
      margin-right: 15px; }
      .socials--tablet .social__link {
        text-decoration: none;
        opacity: 0.4;
        color: #212021;
        font-family: "Source Serif Roman";
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.2px; } }

.portfolio {
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 15px; }

.section__title {
  color: #212021;
  font-family: "Source Serif Roman - Semibold";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.75px;
  text-align: center;
  margin-bottom: 50px; }

.portfolio__photos {
  display: flex;
  flex-direction: column; }

.portfolio__photo {
  width: 290px;
  margin-bottom: 65px; }

.photo__tags {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px; }

.photo__tag {
  display: inline-block;
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 12px;
  font-weight: 300; }

.photo__desc {
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 18px;
  font-weight: 700;
  margin: 0; }

@media screen and (min-width: 764px) {
  .portfolio {
    padding: 0 61px; }
  .section__title {
    font-size: 24px;
    letter-spacing: 3.66px;
    margin-top: 260px;
    margin-bottom: 68px; }
  .portfolio__photos {
    display: grid;
    grid-template-columns: 240px 184px 184px;
    grid-auto-flow: column dense;
    grid-gap: 16px;
    justify-content: center;
    margin-bottom: 165px; }
  .portfolio__photo {
    margin: 0;
    width: 184px; }
    .portfolio__photo:last-child {
      margin-top: 115px;
      grid-row: span 2; }
    .portfolio__photo:first-child {
      width: 240px;
      margin-top: 99px;
      grid-row: span 2; }
  .photo__desc {
    font-size: 16px;
    letter-spacing: normal; } }

.download-page {
  min-width: 320px;
  box-sizing: border-box;
  position: relative; }
  .download-page .section__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .download-page .section__wrapper {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 298px;
    margin-right: 75px;
    box-sizing: border-box;
    margin-left: auto;
    padding-top: 77px;
    z-index: 2;
    color: #fff;
    position: relative;
    text-align: left; }
  .download-page .section__title {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: normal;
    color: #ffffff;
    font-family: "Source Serif Roman - Semibold";
    font-size: 18px;
    font-weight: 400; }
  .download-page .section__desc {
    color: #ffffff;
    font-family: "Source Serif Roman";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px; }
  .download-page .btn {
    margin-left: 0;
    position: relative;
    width: 146px; }
    .download-page .btn--pdf:after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 27px;
      position: absolute;
      background: url(/img/icon_pdf.png) no-repeat;
      right: -30px;
      top: 3px; }

@media screen and (min-width: 764px) {
  .download-page {
    padding-right: 61px; }
    .download-page .section__img {
      position: unset;
      float: left;
      margin-right: 22px;
      margin-left: -190px; }
    .download-page .section__title {
      color: #212021;
      font-size: 24px;
      margin-top: 39px; }
    .download-page .section__wr {
      width: 400px;
      float: right; }
    .download-page .section__desc {
      color: #212021;
      font-size: 16px;
      margin-top: 0;
      margin-right: 170px; }
    .download-page .section__wrapper {
      overflow: hidden;
      height: 372px;
      box-sizing: border-box;
      padding-top: 63px;
      display: block;
      margin: 0;
      width: 100%;
      background-image: url(/img/764_download_bg-2.png), url(/img/764_download_bg-1.jpg);
      background-repeat: no-repeat, no-repeat;
      background-color: #fff;
      background-position: 100px 28px, -210px 0; } }

.about {
  min-width: 320px;
  box-sizing: border-box; }

.gallery__desc {
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }
  .gallery__desc--tablet {
    display: none; }

.gallery__phone {
  font-family: "Source Serif Roman - Semibold";
  color: #1d1c1c;
  font-size: 14px; }

.gallery__photos {
  display: flex;
  flex-direction: row;
  height: 342px;
  overflow: hidden; }

.gallery__photo--left {
  margin-right: 10px;
  margin-left: -60px;
  margin-bottom: 35px; }

.gallery__photo--right {
  margin-top: 35px; }

.gallery__info {
  text-align: center;
  padding: 0 26px;
  color: #1d1c1c;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }

@media screen and (min-width: 764px) {
  .about {
    margin-top: 300px;
    padding: 0 61px; }
  .gallery__photos {
    height: 600px;
    justify-content: center; }
  .gallery__photo--left {
    margin: 0;
    margin-right: 28px;
    margin-bottom: 28px; }
  .gallery__photo--right {
    margin-top: 48px;
    margin-bottom: 28px; }
  .gallery__info {
    display: none; }
  .gallery__phone {
    font-family: "Source Serif Roman - Semibold";
    font-weight: 700;
    font-size: 16px; }
  .gallery__desc {
    display: block;
    margin: 0;
    color: #1d1c1c;
    font-family: "Source Serif Roman";
    font-size: 16px;
    font-weight: 400; }
    .gallery__desc--tablet {
      display: block; }
      .gallery__desc--tablet .btn {
        margin: 0;
        margin-top: 29px; }
    .gallery__desc--left {
      margin: 0;
      width: 306px; } }

.prices {
  padding: 0 15px;
  min-width: 320px;
  box-sizing: border-box; }

.prices__photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto; }

.prices__photo {
  margin-bottom: 65px;
  width: 290px; }

.photo__price {
  color: #8eb574;
  font-family: "Source Serif Roman";
  font-size: 18px;
  font-weight: 700;
  line-height: 17.87px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.price__time {
  margin-right: auto;
  margin-left: 38px;
  flex-basis: 100%; }

.price__value {
  margin-left: auto;
  margin-right: 38px;
  position: relative; }
  .price__value:before {
    position: absolute;
    left: -22px;
    top: 7px;
    display: inline-block;
    content: "";
    width: 13px;
    height: 2px;
    background-color: #8eb574; }

.photo__features {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.photo__feature {
  color: #212021;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }

@media screen and (min-width: 764px) {
  .prices {
    padding: 0 61px; }
    .prices .section__title {
      margin-bottom: 114px; }
  .prices__photos {
    display: grid;
    grid-template-columns: 239px 186px 180px;
    grid-gap: 17px;
    align-items: flex-start;
    grid-row: dense;
    margin-bottom: 300px; }
  .prices__photo {
    margin: 0;
    width: auto; }
    .prices__photo:first-child {
      margin-top: 102px; }
    .prices__photo:last-child {
      margin-top: 118px; }
  .photo__features {
    width: auto; }
  .price__time {
    margin-left: 5px;
    font-size: 16px; }
  .price__value {
    margin-right: 5px;
    font-size: 16px; } }

.contacts {
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 15px; }

.contacts__footer {
  padding-bottom: 85px; }
  .contacts__footer .contacts__links {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
  .contacts__footer .contacts__link {
    margin: 20px auto;
    color: #4e4d4e;
    font-family: "Source Serif Roman - Semibold";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.36px; }
    .contacts__footer .contacts__link .link {
      width: 20px;
      height: 18px;
      color: #8eb574;
      font-family: "Source Serif Roman - Semibold";
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1.8px;
      margin: 0 5px; }
  .contacts__footer .socials {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 183px;
    height: 26px;
    list-style: none;
    justify-content: center; }
    .contacts__footer .socials .social {
      display: inline-block;
      margin-right: 26px;
      padding: 0; }
      .contacts__footer .socials .social:last-child {
        margin-right: 0; }
      .contacts__footer .socials .social__link {
        width: 26px;
        height: 26px;
        display: inline-block; }
        .contacts__footer .socials .social__link--fb {
          background: url("/img/320_icon_facebook.png") no-repeat; }
        .contacts__footer .socials .social__link--vk {
          background: url("/img/320_icon_vk.png") no-repeat; }
        .contacts__footer .socials .social__link--inst {
          background: url("/img/320_icon_instagram.png") no-repeat; }
        .contacts__footer .socials .social__link--pin {
          background: url("/img/320_icon_pinterest.png") no-repeat; }
