* {
   box-sizing: border-box;
}
.container {
   margin: 0 auto;
   position: relative;
}
body {
   margin: 0;
   padding: 0;
}

@import "norm.scss";
@import "main-page.scss";
@import "portfolio.scss";
@import "download-page.scss";
@import "about.scss";
@import "prices.scss";
@import "contacts.scss";