.portfolio {
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 15px;
}

.section__title {
color: #212021;
font-family: "Source Serif Roman - Semibold";
font-size: 18px;
font-weight: 400;
letter-spacing: 2.75px;
text-align: center;
margin-bottom: 50px;
}

.portfolio__photos {
    display: flex;
    flex-direction: column;
}
.portfolio__photo {
    width: 290px;
    margin-bottom: 65px;
}
.photo__tags {
    margin: 0;
    list-style: none; 
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}
.photo__tag {
    display: inline-block;  
color: #1d1c1c;
font-family: "Source Serif Roman";
font-size: 12px;
font-weight: 300;
}
.photo__desc {
color: #1d1c1c;
font-family: "Source Serif Roman";
font-size: 18px;
font-weight: 700;
margin: 0;
}

@media screen and (min-width: 764px) {
    .portfolio {
        padding: 0 61px;
    }
    .section__title {
    font-size: 24px;
    letter-spacing: 3.66px;
    margin-top: 260px;
    margin-bottom: 68px;
    }
    .portfolio__photos {
        display: grid;
        grid-template-columns:  240px 184px 184px;
        grid-auto-flow: column dense;
        grid-gap: 16px;
        justify-content: center;
        margin-bottom: 165px;
    }
    .portfolio__photo{
        margin: 0;
        width: 184px;
        &:last-child {
            margin-top: 115px;
            grid-row:  span 2;
        }
     &:first-child {
         width: 240px;
        margin-top: 99px;
        grid-row:  span 2;
            }
        }
        .photo__desc {
            font-size: 16px;
            letter-spacing: normal;
        }
}

@media screen and (min-width: 1440px) {
    .section__title {
        font-size: 36px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .portfolio {
        position: relative;
        padding: 0 166px;
    }
    .portfolio__photos {
        margin-top: 106px;
        grid-template-columns:  414px 317px 315px;
        grid-gap: 30px;

    }
    .photo__tag {
        font-size: 14px;
    }
    .photo__desc {
        font-size: 18px;
        width: 320px;
    }
    .socials--side {
        margin: 0;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(90deg);
    }
}