.portfolio {
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 15px;
    padding-top: 138px;
}

.section__title {
color: #212021;
font-family: 'Source Serif Pro', serif;
font-size: 18px;
font-weight: 600;
letter-spacing: .8px;
text-align: center;
margin-bottom: 46px;
margin-top: 0px;
position: relative;
&:before {
    position: absolute;
    content: "";
    width: 2px;
    display: inline-block;
    height: 31px;
    top: -58px;
    background-color: #cb98a8;
    left: calc(50% - 1px);
}
}

.portfolio__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__photo {
    width: 290px;
    margin-bottom: 65px;
    &:last-child {
        margin-bottom: 52px;
    }
}
.photo__tags {
    margin: 0;
    list-style: none; 
    padding: 0;
    margin-top: 9px;
    margin-bottom: 7px;
    letter-spacing: 0.6px;
}
.photo__tag {
    display: inline-block;  
color: #1d1c1c;
font-family: 'Source Serif Pro', serif;
font-size: 12px;
font-weight: 400;
}
.photo__desc {
color: #1d1c1c;
font-family: 'Source Serif Pro', serif;
font-size: 18px;
font-weight: 600;
margin: 0;
line-height: 22px;
letter-spacing: 1px;
word-spacing: -1px;
}

@media screen and (min-width: 764px) {
    .portfolio {
        padding: 0 61px;
        padding-top: 260px;
        background-image: url(/img/764_leaf_icon-l.png),
        url(/img/764_leaf_icon-m.png),
        url(/img/764_leaf_icon-r.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 4px 227px, 460px 183px, 667px 330px;
    }
    .socials--side {
        display: none;
    }
    .section__title {
    font-size: 24px;
    letter-spacing: 3.66px;
    margin-bottom: 62px;
    &:before {
        top: -105px;
        height: 38px;
    }
    &:after {
        content: "WORK";
        position: absolute;
        display: inline-block;
        top: -22px;
        left: 174px;
        z-index: -1;
width: 274px;
height: 51px;
opacity: 0.6;
color: #f8f8f8;
font-family: 'Source Serif Pro', serif;
font-size: 71px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 12.22px;
    }
    }
    .portfolio__photos {
        display: grid;
        grid-template-columns:  240px 184px 184px;
        grid-auto-flow: column dense;
        grid-gap: 16px;
        justify-content: center;
        margin-bottom: 165px;
    }
    .portfolio__photo{
        margin: 0;
        width: 184px;
        &:last-child {
            grid-row:  span 2;
        }
     &:first-child {
         width: 240px;
        margin-top: 6px;
        grid-row:  span 2;
            }
            &:nth-child(2){
                margin-bottom: 18px;

            }
        }
        .photo__desc {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.3px;
        }
        .photo__tags {
            margin-bottom: 2px;
        }
}

@media screen and (min-width: 1440px) {
    .section__title {
        font-size: 36px;
        margin-bottom: 0;
        font-weight: 700;
        letter-spacing: 1.4px;
        &:before {
            top: -138px;
        }
        &:after {
            left: calc(50% - 180px);
        }
    }
    .portfolio {
        position: relative;
        padding: 0 166px;
        padding-top: 276px;
        padding-bottom: 151px;
        .paginations {
            align-items: flex-end;
            top: calc(50% + -8px);
            left: 4.3%;
        }
    }
   
    .portfolio__photos {
        margin: 0;
        margin-top: 98px;
        grid-template-columns:  414px 317px 315px;
        grid-gap: 30px;

    }
    .portfolio__photo{
        margin: 0;
        width: 317px;
        &:last-child {
            grid-row:  span 2;
            width: 315px;
            margin-bottom: 86px;
        }
     &:first-child {
         width: 414px;
        margin-top: 8px;
        grid-row:  span 2;
            }
            &:nth-child(2){
                margin-bottom: 66px;

            }
        }
    .photo__tags{
        margin-top: 13px;
        margin-bottom: 5px;
    }
    .photo__tag {
        font-size: 14px;
    }
    .photo__desc {
        font-size: 18px;
        width: 320px;
        line-height: 20px;
    }
    .socials--side {
        margin: 0;
        z-index: 2;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: calc(58% + 9px);
        right: -43px;
        transform: rotate(90deg);
       
        .social{
            margin-right: 23px;
            &:not(:last-child):after {
                display: inline-block;
                position: absolute;
                opacity: 0.4;
                content: "";
                width: 10px;
                height: 2px;
                background-color: #cb98a8;
                top: 11px;
                right: -16px;
           
        }
        &__link {
            opacity: 0.4;
            color: #cb98a8;
            font-family: 'Source Serif Pro', serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}
}