.prices {
    padding: 0 15px;
    min-width: 320px;
    box-sizing: border-box;
    padding-top: 138px;
    .section__title {
        margin-bottom: 50px;
    }
}
.prices__photos {
    display: flex;
    flex-direction: column;
align-items: center;
    width: auto;
}
.prices__photo {
    margin-bottom: 70px;
    width: 290px;
}
.photo__price {
    color: #8eb574;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 10px;
font-family: "Source Serif Roman";
font-size: 18px;
font-weight: 700;
line-height: 19px;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.price__time {
    margin-right: auto;
    margin-left: 38px;
    letter-spacing: 0.8px;
    flex-basis: 100%;
}
.price__value {
    margin-left: auto;
    letter-spacing: 0.8px;
    margin-right: 38px;
    position: relative;
    &:before {
        position: absolute;
        left: -21px;
top: 10px;
        display: inline-block;
        content: "";
width: 12px;
height: 2px;
background-color:  #8eb574;
    }
}
.photo__features {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    letter-spacing: 0.7px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.photo__feature {
    margin-bottom: 1px;
color: #212021;
font-family: "Source Serif Roman";
font-size: 14px;
font-weight: 400;
}

@media screen and (min-width: 764px) {
    .prices {
        padding: 0 61px;
        padding-top: 102px;
        padding-bottom: 279px;
        background-image: url(/img/764_prices_leaf-b.png);
        background-repeat: no-repeat;
        background-position: 663px 1060px;
        .section__title {
            margin-bottom: 108px;
            &:after {
                content: "PRICE";
            }
        }
    }
    .prices__photos {
        display: grid;
        grid-template-columns: 239px 186px 180px;
        grid-gap: 17px;
        align-items: flex-start;
        justify-content: center;
        grid-row: dense;
    }
    .prices__photo {
        margin: 0;
        width: auto;
        &:first-child {
            margin-top: 102px;
        }
        &:last-child {
            margin-top: 118px;
        }
    }
    .photo__features {
    }
    .photo__price {
        margin-top: 10px;
    }
    .price__time {
        margin-left: 5px;
        font-size: 16px;
    }
    .price__value {
        margin-right: 5px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .prices {
        overflow: hidden;
        position: relative;
        .section__title {
            margin-bottom: 0;
        }
    }
    .prices__photos {
        margin-top: 200px;
        grid-template-columns: 414px 317px 315px;
        grid-gap: 30px;
    }
    .photo__price {
        width: 270px;
        text-align: center;
        line-height: 25px;
    }
    .price__time {
        font-size: 24px;
    }
    .price__value {
        font-size: 18px;
        &::before {
            top: 11px;
        }
    }
    .photo__feature {
        font-size: 18px;
    }
}