.prices {
  padding: 0 15px;
  min-width: 320px;
  box-sizing: border-box; }

.prices__photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto; }

.prices__photo {
  margin-bottom: 65px;
  width: 290px; }

.photo__price {
  color: #8eb574;
  font-family: "Source Serif Roman";
  font-size: 18px;
  font-weight: 700;
  line-height: 17.87px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.price__time {
  margin-right: auto;
  margin-left: 38px;
  flex-basis: 100%; }

.price__value {
  margin-left: auto;
  margin-right: 38px;
  position: relative; }
  .price__value:before {
    position: absolute;
    left: -22px;
    top: 7px;
    display: inline-block;
    content: "";
    width: 13px;
    height: 2px;
    background-color: #8eb574; }

.photo__features {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.photo__feature {
  color: #212021;
  font-family: "Source Serif Roman";
  font-size: 14px;
  font-weight: 400; }

@media screen and (min-width: 764px) {
  .prices {
    padding: 0 61px; }
    .prices .section__title {
      margin-bottom: 114px; }
  .prices__photos {
    display: grid;
    grid-template-columns: 239px 186px 180px;
    grid-gap: 17px;
    align-items: flex-start;
    grid-row: dense;
    margin-bottom: 300px; }
  .prices__photo {
    margin: 0;
    width: auto; }
    .prices__photo:first-child {
      margin-top: 102px; }
    .prices__photo:last-child {
      margin-top: 118px; }
  .photo__features {
    width: auto; }
  .price__time {
    margin-left: 5px;
    font-size: 16px; }
  .price__value {
    margin-right: 5px;
    font-size: 16px; } }
